@import '../../App/stylesheets/App';

$leftWidth: 120px;
$rightWidth: $appWidth - $leftWidth;

.UserInfoContainer {
  height: 150px;
  width: 100%;
}

.left {
  height: 100%;
  width: $leftWidth;

  // to have the divs side by side
  float: left;
  display: block;

  // for aligning pic
  position: relative;
}

.right {
  height: 100%;
  width: $rightWidth;

  // to have the divs side by side
  float: left;
}

.profile-pic {
  height: 100px;
  border-radius: 50%;

  // for aligning pic
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.bio {
  height: 75px;
  line-height: 25px;
  overflow-y: auto;
}
